# Copyright 2022 Aurora Operations, Inc.

---
Language: Cpp
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
DerivePointerAlignment: false
PointerAlignment: Right
Standard: Cpp11
TabWidth: 4
AccessModifierOffset: -3
ConstructorInitializerIndentWidth: 4
FixNamespaceComments: true
ReflowComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
  - Regex:           '.\*'
    Priority:        3
