#!/bin/bash
# Copyright 2022 Aurora Operations, Inc.

# Users of direnv can run `direnv allow .` here to automatically update the PATH on entering this
# directory or any descendent. https://direnv.net/

PATH_add "$(pwd)/tools/bin"
