name: build-and-test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: ["clang11", "clang14", "gcc10"]

    steps:
      - uses: actions/checkout@v2
      - name: Build and test (${{ matrix.config }})
        run: bazel test --config=${{ matrix.config }} //...:all
