# Copyright 2022 Aurora Operations, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: build-and-test

on:
  workflow_call:
    inputs:
      config:
        required: true
        type: string
      cpp20_extra_args:
        required: false
        type: string
        description: "Additional Bazel arguments for the C++20 test step (e.g., tag filters)"



jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - name: Build and test (${{ inputs.config }})
        run: bazel test --config=${{ inputs.config }} --copt=-Werror //...:all
      - name: Build and test with -Wconversion (${{ inputs.config }})
        run: bazel test --config=${{ inputs.config }} --copt=-Werror --copt=-Wconversion --test_tag_filters=-no_wconversion --build_tag_filters=-no_wconversion //au/...:all
      - name: Build and test in C++20 mode (${{ inputs.config }})
        # To opt out of tests requiring std::format, set cpp20_extra_args: --test_tag_filters=-requires_std_format
        run: bazel test --config=${{ inputs.config }} --copt=-Werror --copt=-std=c++20 ${{ inputs.cpp20_extra_args }} //...:all //au:cpp20_test //au:std_format_test


      - name: Build and test with -Wsign-conversion
        run: bazel build --config=${{ inputs.config }} --copt=-Werror --copt=-Wsign-conversion --test_tag_filters=-no_wsign_conversion --build_tag_filters=-no_wsign_conversion //au/...:all //release/...:all
